.box:hover {
    box-shadow: 0 8px 7px -6px black;
}

.helios-logo {
    color: #9c88ff;
}

a.navbar-item.is-active:not(:focus):not(:hover) {
    background-color: #9c88ff;
    color: #FFF;
}

.align-center {
    margin: auto;
    text-align: center;
}

.float-left {
    float: left;
}

.forced-width {
    width: 170px;
}

.select select {
    width: 200px;
}

#logs {
    list-style-type: none;

}