{% extends 'base.html' %}
{% block title %} Helios UI {% endblock %}
{% block style %}
    .hero-body {
        align-items: flex-start !important;
    }
{% endblock %}
{% block hero %}
<div class="hero-body" xmlns="http://www.w3.org/1999/html">
	<div class="container">
        <form method="POST" action="">
            <div class="container" id="form-content">
                {% for scanner in scanners['document']['scanner'] %}
                <div class="card is-fullwidth">
                    <header class="card-header">
                        <p class="card-header-title">{{ scanner['@name'] }}</p>
                        <a class="card-header-icon card-toggle">
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </header>
                    <div class="card-content is-hidden">
                        <div class="content">
                            <div class="field">
                              <label class="label">ID</label>
                              <div class="control">
                                <input class="input" name="scanner-{{loop.index}}-@id" type="text" placeholder="scanner id" value="{{ scanner['@id'] }}" required>
                              </div>
                            </div>
<!--                            <hr class="navbar-divider has-background-light"/>-->
                            <h3 class="subtitle">Scanner Definitions</h3>

                            <div class="field">
                              <label class="label">Accuracy</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@accuracy_m" placeholder="Sensor accuracy [meters]" value="{{ scanner['@accuracy_m'] }}">
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Beam Divergence<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="The 1/e^2 beam divergence full-angle [rad] (default: 0.0003). If a technical sheet gives the beam divergence at the 1/e power points or at 50% peak intensity (full width half maximum/FWHM), it has to be converted"> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@beamDivergence_rad" placeholder="The 1/e^2 beam divergence full-angle [rad] (default: 0.0003)" value="{{ scanner['@beamDivergence_rad'] }}" >
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Maximum Head Rotate</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@headRotatePerSecMax_deg" placeholder="Maximum speed of scanner head rotation [deg]" value="{{ scanner['@headRotatePerSecMax_deg'] }}">
                              </div>
                            </div>


                            <div class="field">
                              <label class="label">Deflect Angle</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@deflectAngle_deg" placeholder="deflect angle in degree" value="{{ scanner['@deflectAngle_deg'] }}">
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Name</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@name" placeholder="scanner name" value="{{ scanner['@name'] }}" >
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Scanner Optics<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Laser beam deflector. The supported deflectors are: (a) rotating mirror (rotating) with the optional parameter scanAngleEffectiveMax_deg (b) fiber array (line) with the optional parameter numFibers
                                    (c) oscillating mirror (oscillating) with the optional parameter scanProduct. The maximum scan product determines the maximum scanner velocity. It is the product of the maximum scan rate and maximum scan angle, which are inversely proportional to each other (Ussyshkin et al. 2008).
                                    (d) conic mirror (conic) (e) risley prims (risley) with the parameters rotorFreq1_Hz and rotorFreq2_Hz, i.e., the rotational speeds of the two prisms. note that the parameter scanFreq_Hz is not used for this beam deflector!"> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@optics" placeholder=" Laser beam deflector. Possible values:'rotating', 'line', 'oscillating', 'conic', 'risley'" value="{{ scanner['@optics'] }}" required>
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Pulse Frequency</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@pulseFreqs_Hz" placeholder="List of supported pulse frequency or frequencies [Hz]" value="{{ scanner['@pulseFreqs_Hz'] }}" >
                              </div>
                            </div>


                            <div class="field">
                              <label class="label">Pulse Length</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@pulseLength_ns" placeholder="Laser pulse length/duration [ns] (default: 4.0)" value="{{ scanner['@pulseLength_ns'] }}" >
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Minimum Range</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@rangeMin_m" placeholder="Minimum range [meters]" value="{{ scanner['@rangeMin_m'] }}" >
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Maximum Scanner Angle</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@scanAngleMax_deg" placeholder="Maximum possible scan angle [deg]" value="{{ scanner['@scanAngleMax_deg'] }}" >
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Minimum Scanner Frequency</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@scanFreqMin_Hz" placeholder="Minimum values to define the possible scan frequency range [Hz]" value="{{ scanner['@scanFreqMin_Hz'] }}" >
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Maximum Scanner Frequency</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@scanFreqMax_Hz" placeholder="Maximum values to define the possible scan frequency range [Hz]" value="{{ scanner['@scanFreqMax_Hz'] }}" >
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Effective Maximum Scan Angle</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@scanAngleEffectiveMax_deg" placeholder="Effective Maximum Scan Angle in deg" value="{{ scanner['@scanAngleEffectiveMax_deg'] }}">
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Wavelength</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@wavelength_nm" placeholder="Wavelength [nm] (default: 1064)" value="{{ scanner['@wavelength_nm'] }}">
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">First Rotor Frequency</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@rotorFreq1_Hz" placeholder="First Rotor Frequency" value="{{ scanner['@rotorFreq1_Hz'] }}">
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Second Rotor Frequency</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@rotorFreq2_Hz" placeholder="Second Rotor Frequency" value="{{ scanner['@rotorFreq2_Hz'] }}">
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Maximum NOR<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Maximum number of returns per pulse, e.g., if maxNOR equals 1, only the first return is recorded for each pulse. If maxNOR is 0 (default), the number of returns per pulse is not limited."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@maxNOR" placeholder="Maximum number of returns per pulse" value="{{ scanner['@maxNOR'] }}">
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Beam Sample Quality</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@beamSampleQuality" placeholder="Beam Sample Quality" value="{{ scanner['@beamSampleQuality'] }}">
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Average Power<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="The average power emitted by the laser. Integrating the whole footprint will give this power [W] (default: 4.0)."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@averagePower_w" placeholder="Average power emitted by the laser. Integrating the whole footprint will give this power [W] (default: 4.0)" value="{{ scanner['@averagePower_w'] }}">
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Number of Fibers</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@numFibers" placeholder="Number of Fibers" value="{{ scanner['@numFibers'] }}">
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Beam Quality Factor<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip=" How well the beam is focussed. The beam waist radius is calculated and is assumed at the minimum range as defined above. Do not confuse with the Beam Sample Quality, which defines the number of subrays used (default: 1.0)."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@beamQualityFactor" placeholder="How well the beam is focussed" value="{{ scanner['@beamQualityFactor'] }}">
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Optical Efficiency<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Efficiency of the scanner in the LiDAR Equation (Höfle & Pfeifer 2007) (default: 0.99)."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@opticalEfficiency" placeholder="Efficiency of the scanner (default:0.99)" value="{{ scanner['@opticalEfficiency'] }}">
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Atmospheric Visibility<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Used to calculate atmospheric attenuation, i.e. formula by Carlsson et al. (2001). The calculation depends on the wavelength (default: 23.0 km)."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@atmosphericVisibility_km" placeholder="Used to calculate atmospheric attenuation [km] (default: 23.0 km)" value="{{ scanner['@atmosphericVisibility_km'] }}">
                              </div>
                            </div>

                            <div class="field">
                              <label class="label">Receiver Diameter</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-{{loop.index}}-@receiverDiameter_m" placeholder=" Unused [meters] (default: 0.15 m)" value="{{ scanner['@receiverDiameter_m'] }}">
                              </div>
                            </div>



                            {% if 'headRotateAxis' in scanner %}
                            <div class="field">
                              <label class="label"> Head Rotate Axis</label>
                              <div class="control">
                                 X-Axis: <input type="text" name="scanner-{{loop.index}}-headRotateAxis-@x" placeholder="Axis around which the scanner head is rotated (X-axis)" value="{{ scanner['headRotateAxis']['@x'] }}">
                                 Y-Axis: <input type="text" name="scanner-{{loop.index}}-headRotateAxis-@y" placeholder="Axis around which the scanner head is rotated (Y-axis)" value="{{ scanner['headRotateAxis']['@y'] }}">
                                 .Z-Axis: <input type="text" name="scanner-{{loop.index}}-headRotateAxis-@z" placeholder="Axis around which the scanner head is rotated (Z-axis)" value="{{ scanner['headRotateAxis']['@z'] }}">
                              </div>
                            </div>
                            {% endif %}

                            {% if 'beamOrigin' in scanner %}
                            <div class="field">
                              <label class="label"> Beam Origin Axis<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip=" Origin of the laser beam. The position (x,y,z coordinates) and the attitude (rotations about X,Y,Z) can be provided. The offset and rotations are defined in the same manner as for the scannerMount tag in the Platforms XML. By default, the beam origin is assumed to be in the center of the scanner, and the axes of the beam to be aligned with the axes of the scanner. The rotation defined in <beamOrigin> is applied before the one of the <scannerMount> in the Platforms XML. We suggest to use the beamOrigin rotation to point the scanner downwards and have it scan left-to-right (for airborne systems), as this is the default use case. If no rotation is provided, the scanner looks to the front of the platform and scans up-down:"> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                                <div class="control mb-3">
                                  X-Axis: <input type="text" name="scanner-{{loop.index}}-beamOrigin-@x" placeholder="Origin of the laser beam. Position X coordinate" value="{{ scanner['beamOrigin']['@x'] }}">
                                  Y-Axis: <input type="text" name="scanner-{{loop.index}}-beamOrigin-@y" placeholder="Origin of the laser beam. Position Y coordinate" value="{{ scanner['beamOrigin']['@y'] }}">
                                  Z-Axis: <input type="text" name="scanner-{{loop.index}}-beamOrigin-@z" placeholder="Origin of the laser beam. Position Z coordinate" value="{{ scanner['beamOrigin']['@z'] }}">
                                </div>
                                {% set outer_loop = loop.index %}
                                <div class="control">
                                    {% for rot in scanner['beamOrigin']['rot'] %}
                                        Rotation {{ rot['@axis'] }}-axis: <input type="text" name="scanner-{{outer_loop}}-beamOrigin-rot-@axis-{{ rot['@axis'] }}-@angle_deg" placeholder="Origin of the laser beam. Altitude X rotation" value="{{ rot['@angle_deg'] }}">
                                    {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                     <h3 class="subtitle">Scanner Settings</h3>
                            <div class="field">
                              <label class="label">Pulse Repetition Frequency<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Number of laser pulses per second [Hz] (default: 0.0)"> <i class="fas fa-info-circle has-text-info"></i> </span> </label>
                                  <div class="control">
                                    <input class="input" type="text" name="scanner-{{loop.index}}-@pulseFreq_hz" placeholder="Number of laser pulses per second [Hz] (default: 0.0)" value="{{ scanner['@pulseFreq_hz'] }}">
                                  </div>
                           </div>
                           <div class="field">
                              <label class="label">Default Scan Angle<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="(Vertical) half scan angle in degrees. scanAngle_deg = 30 corresponds to +- 30° (60° swath)"> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                                  <div class="control">
                                    <input class="input" type="text" name="scanner-{{loop.index}}-@scanAngle_deg" placeholder="(Vertical) half scan angle in degrees [deg]" value="{{ scanner['@scanAngle_deg'] }}">
                                  </div>
                           </div>
                           <div class="field">
                              <label class="label">Default Scan Frequency</label>
                                  <div class="control">
                                    <input class="input" type="text" name="scanner-{{loop.index}}-@scanFreq_hz" placeholder="Number of scan lines per second [Hz] (default: 0.0)" value="{{ scanner['@scanFreq_hz'] }}">
                                  </div>
                           </div>
                           <div class="field">
                              <label class="label">Default Head Rotate Per Seconds</label>
                                  <div class="control">
                                    <input class="input" type="text" name="scanner-{{loop.index}}-@headRotatePerSec_deg" placeholder="Head Rotate Per Seconds in deg" value="{{ scanner['@headRotatePerSec_deg'] }}">
                                  </div>
                           </div>
                           <div class="field">
                              <label class="label">Head Rotate Start<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Angles to start and stop scanner head rotation to define the horizontal FOV. 0° is pointing to the primary (i.e. X-) axis of the scene coordinate system. If using a projected coordinate system like UTM, the primary axis is pointing north. Angles are assumed mathematically positive, i.e. going counter-clockwise, which is contrary to an azimuth value."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                                  <div class="control">
                                    <input class="input" type="text" name="scanner-{{loop.index}}-@headRotateStart_deg" placeholder="Angles to start scanner head rotation to define the horizontal FOV [deg]" value="{{ scanner['@headRotateStart_deg'] }}">
                                  </div>
                           </div>
                           <div class="field">
                              <label class="label">Head Rotate Stop<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Angles to start and stop scanner head rotation to define the horizontal FOV. 0° is pointing to the primary (i.e. X-) axis of the scene coordinate system. If using a projected coordinate system like UTM, the primary axis is pointing north. Angles are assumed mathematically positive, i.e. going counter-clockwise, which is contrary to an azimuth value."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                                  <div class="control">
                                    <input class="input" type="text" name="scanner-{{loop.index}}-@headRotateStop_deg" placeholder="Angles to stop scanner head rotation to define the horizontal FOV [deg]" value="{{ scanner['@headRotateStop_deg'] }}">
                                  </div>
                           </div>

                            <div class="field">
                              <label class="label">Head Rotate Per Segment<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Speed of scanner head rotation in degrees per second. Can be positive for counterclockwise rotation or negative for clockwise rotation. Make sure that headRotateStart_deg is larger than headRotateStop_deg if setting a negative value."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                                  <div class="control">
                                    <input class="input" type="text" name="scanner-{{loop.index}}-@headRotatePerSeg_deg" placeholder="Speed of scanner head rotation in degrees per second [deg]" value="{{ scanner['@headRotatePerSeg_deg'] }}">
                                  </div>
                           </div>

                            <div class="field">
                              <label class="label">Default Trajectory Time Interval<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Time interval in seconds for the trajectory output file. If this is set to 0, no trajectory is written. For a measurement frequency of 100 Hz, enter 0.01 (default: 0.0)"> <i class="fas fa-info-circle has-text-info"></i> </span> </label>
                                  <div class="control">
                                    <input class="input" type="text" name="scanner-{{loop.index}}-@trajectoryTimeInterval_s" placeholder="Time interval in seconds for the trajectory output file (default: 0.0)" value="{{ scanner['@trajectoryTimeInterval_s'] }}">
                                  </div>
                           </div>

                           <div class="field">
                              <label class="label">Minimum Vertical Angle<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip=" Independent minimum vertical scan angle. Can be positive or negative. scanAngle_deg=30 would correspond to verticalAngleMin_deg=-30 and verticalAngleMax_deg = 30. We suggest to use the +- scan angle range for ALS surveys, and setting the minimum and maximum vertical angles for TLS surveys."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                                  <div class="control">
                                    <input class="input" type="text" name="scanner-{{loop.index}}-@verticalAngleMin_deg" placeholder="Independent minimum vertical scan angle [deg]" value="{{ scanner['@verticalAngleMin_deg'] }}">
                                  </div>
                           </div>

                           <div class="field">
                              <label class="label">Maximum Vertical Angle<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip=" Independent maximum vertical scan angle. Can be positive or negative. scanAngle_deg=30 would correspond to verticalAngleMin_deg=-30 and verticalAngleMax_deg = 30. We suggest to use the +- scan angle range for ALS surveys, and setting the minimum and maximum vertical angles for TLS surveys."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                                  <div class="control">
                                    <input class="input" type="text" name="scanner-{{loop.index}}-@verticalAngleMax_deg" placeholder="Independent maximum vertical scan angle [deg]" value="{{ scanner['@verticalAngleMax_deg'] }}">
                                  </div>
                           </div>
                           <div class="field">
                              <label class="label">Scanner is Active<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip='Boolean, "true" or "false". This parameter is relevant e.g. for offline (i.e. scanner is turned off) flight lines in airborne surveys. (default: "true").'> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                               <div class="control">
                                  <label class="radio">
                                    <input type="radio" name="scanner-{{loop.index}}-@active" value="true" checked>
                                    True
                                  </label>
                                  <label class="radio">
                                    <input type="radio" name="scanner-{{loop.index}}-@active" value="false">
                                    False
                                  </label>
                               </div>
                           </div>
				</div>
			</div>
		</div>
        {% endfor %}

        </div>
        <div class="field is-grouped mt-3">
            <div class="control">
                <button id="add-new-scanner" class="button is-link is-light" type="button">Add New Scanner</button>
            </div>

            <div class="control">
                <a href="/scanner-download" class="button is-link is-light">Download Scanner File</a>
            </div>

            <div class="control">
                <input type="submit" class="button is-link" value="Apply Changes">
            </div>
        </div>
        </form>
	</div>
</div>
<script>
window.addEventListener('load', (event) => {
    let scanner_count = {{ scanners['document']['scanner'] | length}} + 1
  document.getElementById('add-new-scanner').onclick = function () {
    let scanner_template = `
    		<header class="card-header">
				<p class="card-header-title">Scanner ${scanner_count}</p>
				<a class="card-header-icon delete-card">
                    <i class="fa fa-times-circle"></i>
                </a>
				<a class="card-header-icon card-toggle">
					<i class="fa fa-angle-down"></i>
				</a>
			</header>
			<div class="card-content is-hidden">
				<div class="content">
                    <div class="field">
                      <label class="label">ID</label>
                      <div class="control">
                        <input class="input" name="scanner-${scanner_count}-@id" type="text" placeholder="scanner id" value="" required>
                      </div>
                    </div>


                    <h3 class="subtitle">Scanner Definitions</h3>

                    <div class="field">
                      <label class="label">Accuracy</label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@accuracy_m" placeholder="Sensor accuracy [meters]" value="" required>
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Beam Divergence<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="The 1/e^2 beam divergence full-angle [rad] (default: 0.0003). If a technical sheet gives the beam divergence at the 1/e power points or at 50% peak intensity (full width half maximum/FWHM), it has to be converted"> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@beamDivergence_rad" placeholder="The 1/e^2 beam divergence full-angle [rad] (default: 0.0003)" value="" required>
                      </div>
                    </div>


                    <div class="field">
                              <label class="label">Maximum Head Rotate</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-${scanner_count}-@headRotatePerSecMax_deg" placeholder="Maximum speed of scanner head rotation [deg]" value="">
                              </div>
                    </div>

                    <div class="field">
                      <label class="label">Deflect Angle</label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@deflectAngle_deg" placeholder="deflect angle in degree" value="">
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Name</label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@name" placeholder="scanner name" value="" required>
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Scanner Optics<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Laser beam deflector. The supported deflectors are: (a) rotating mirror (rotating) with the optional parameter scanAngleEffectiveMax_deg (b) fiber array (line) with the optional parameter numFibers
                                    (c) oscillating mirror (oscillating) with the optional parameter scanProduct. The maximum scan product determines the maximum scanner velocity. It is the product of the maximum scan rate and maximum scan angle, which are inversely proportional to each other (Ussyshkin et al. 2008).
                                    (d) conic mirror (conic) (e) risley prims (risley) with the parameters rotorFreq1_Hz and rotorFreq2_Hz, i.e., the rotational speeds of the two prisms. note that the parameter scanFreq_Hz is not used for this beam deflector!"> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@optics" placeholder=" Laser beam deflector. Possible values:'rotating', 'line', 'oscillating', 'conic', 'risley'" value="" required>
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Pulse Frequency</label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@pulseFreqs_Hz" placeholder="List of supported pulse frequency or frequencies [Hz]" value="" required>
                      </div>
                    </div>


                    <div class="field">
                      <label class="label">Pulse Length</label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@pulseLength_ns" placeholder="Laser pulse length/duration [ns] (default: 4.0)" value="" required>
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Minimum Range</label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@rangeMin_m" placeholder="Minimum range [meters]" value="" required>
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Maximum Scanner Angle</label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@scanAngleMax_deg" placeholder="Maximum possible scan angle [deg]" value="" required>
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Minimum Scanner Frequency</label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@scanFreqMin_Hz" placeholder="Minimum values to define the possible scan frequency range [Hz]" value="" required>
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Maximum Scanner Frequency</label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@scanFreqMax_Hz" placeholder="Maximum values to define the possible scan frequency range [Hz]" value="" required>
                      </div>
                    </div>


                    <div class="field">
                              <label class="label">Effective Maximum Scan Angle</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-${scanner_count}-@scanAngleEffectiveMax_deg" placeholder="Effective Maximum Scan Angle in deg" value="">
                              </div>
                    </div>

                    <div class="field">
                              <label class="label">Wavelength</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-${scanner_count}-@wavelength_nm" placeholder="Wavelength [nm] (default: 1064)" value="">
                              </div>
                    </div>


                    <div class="field">
                      <label class="label">First Rotor Frequency</label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@rotorFreq1_Hz" placeholder="First Rotor Frequency" value="">
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Second Rotor Frequency</label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@rotorFreq2_Hz" placeholder="Second Rotor Frequency" value="">
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Maximum NOR</label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@maxNOR" placeholder="Maximum number of returns per pulse" value="">
                      </div>
                    </div>

                    <div class="field">
                              <label class="label">Beam Sample Quality</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-${scanner_count}-@beamSampleQuality" placeholder="Beam Sample Quality" value="">
                              </div>
                    </div>


                    <div class="field">
                      <label class="label">Average Power<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="The average power emitted by the laser. Integrating the whole footprint will give this power [W] (default: 4.0)."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@averagePower_w" placeholder="Average power emitted by the laser. Integrating the whole footprint will give this power [W] (default: 4.0)" value="">
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Number of Fibers</label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@numFibers" placeholder="Number of Fibers" value="">
                      </div>
                    </div>


                    <div class="field">
                      <label class="label">Beam Quality Factor<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip=" How well the beam is focussed. The beam waist radius is calculated and is assumed at the minimum range as defined above. Do not confuse with the Beam Sample Quality, which defines the number of subrays used (default: 1.0)."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@beamQualityFactor" placeholder="How well the beam is focussed" value="">
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Optical Efficiency<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Efficiency of the scanner in the LiDAR Equation (Höfle & Pfeifer 2007) (default: 0.99)."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@opticalEfficiency" placeholder="Efficiency of the scanner (default:0.99)" value="">
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Atmospheric Visibility<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Used to calculate atmospheric attenuation, i.e. formula by Carlsson et al. (2001). The calculation depends on the wavelength (default: 23.0 km)."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@atmosphericVisibility_km" placeholder="Used to calculate atmospheric attenuation [km] (default: 23.0 km)" value="">
                      </div>
                    </div>


                    <div class="field">
                      <label class="label">Receiver Diameter</label>
                      <div class="control">
                        <input class="input" type="text" name="scanner-${scanner_count}-@receiverDiameter_m" placeholder=" Unused [meters] (default: 0.15 m)" value="">
                      </div>
                    </div>


                    <div class="field">
                      <label class="label"> Head Rotate Axis</label>
                      <div class="control">
                         X-Axis: <input type="text" name="scanner-${scanner_count}-headRotateAxis-@x" placeholder="Axis around which the scanner head is rotated (X-axis)" value="0">
                         Y-Axis: <input type="text" name="scanner-${scanner_count}-headRotateAxis-@y" placeholder="Axis around which the scanner head is rotated (Y-axis)" value="0">
                         .Z-Axis: <input type="text" name="scanner-${scanner_count}-headRotateAxis-@z" placeholder="Axis around which the scanner head is rotated (Z-axis)" value="0">
                      </div>
                    </div>

                    <div class="field">
                      <label class="label"> Beam Origin Axis<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip=" Origin of the laser beam. The position (x,y,z coordinates) and the attitude (rotations about X,Y,Z) can be provided. The offset and rotations are defined in the same manner as for the scannerMount tag in the Platforms XML. By default, the beam origin is assumed to be in the center of the scanner, and the axes of the beam to be aligned with the axes of the scanner. The rotation defined in <beamOrigin> is applied before the one of the <scannerMount> in the Platforms XML. We suggest to use the beamOrigin rotation to point the scanner downwards and have it scan left-to-right (for airborne systems), as this is the default use case. If no rotation is provided, the scanner looks to the front of the platform and scans up-down:"> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                        <div class="control mb-3">
                          X-Axis: <input type="text" name="scanner-${scanner_count}-beamOrigin-@x" placeholder="Origin of the laser beam. Position X coordinate" value="0">
                          Y-Axis: <input type="text" name="scanner-${scanner_count}-beamOrigin-@y" placeholder="Origin of the laser beam. Position Y coordinate" value="0">
                          Z-Axis: <input type="text" name="scanner-${scanner_count}-beamOrigin-@z" placeholder="Origin of the laser beam. Position Z coordinate" value="0">
                        </div>

                        <div class="control">
                           Rotation x-axis: <input type="text" name="scanner-${scanner_count}-beamOrigin-rot-@axis-x-@angle_deg" placeholder="Origin of the laser beam. Altitude X rotation" value="0">
                           Rotation y-axis: <input type="text" name="scanner-${scanner_count}-beamOrigin-rot-@axis-y-@angle_deg" placeholder="Origin of the laser beam. Altitude Y rotation" value="0">
                           Rotation z-axis: <input type="text" name="scanner-${scanner_count}-beamOrigin-rot-@axis-z-@angle_deg" placeholder="Origin of the laser beam. Altitude Z rotation" value="0">
                        </div>
                        </div>

                        <h3 class="subtitle">Scanner Settings</h3>

                        <div class="field">
                          <label class="label">Pulse Repetition Frequency<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Number of laser pulses per second [Hz] (default: 0.0)"> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-${scanner_count}-@pulseFreq_hz" placeholder="Number of laser pulses per second [Hz] (default: 0.0)">
                              </div>
                       </div>
                       <div class="field">
                          <label class="label">Default Scan Angle<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="(Vertical) half scan angle in degrees. scanAngle_deg = 30 corresponds to +- 30° (60° swath)"> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-${scanner_count}-@scanAngle_deg" placeholder="(Vertical) half scan angle in degrees [deg]">
                              </div>
                       </div>
                       <div class="field">
                          <label class="label">Default Scan Frequency</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-${scanner_count}-@scanFreq_hz" placeholder="Number of scan lines per second [Hz] (default: 0.0)">
                              </div>
                       </div>
                       <div class="field">
                          <label class="label">Default Head Rotate Per Seconds</label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-${scanner_count}-@headRotatePerSec_deg" placeholder="Head Rotate Per Seconds in deg">
                              </div>
                       </div>
                       <div class="field">
                          <label class="label">Head Rotate Start<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Angles to start and stop scanner head rotation to define the horizontal FOV. 0° is pointing to the primary (i.e. X-) axis of the scene coordinate system. If using a projected coordinate system like UTM, the primary axis is pointing north. Angles are assumed mathematically positive, i.e. going counter-clockwise, which is contrary to an azimuth value."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-${scanner_count}-@headRotateStart_deg" placeholder="Angles to start scanner head rotation to define the horizontal FOV [deg]">
                              </div>
                       </div>
                       <div class="field">
                          <label class="label">Head Rotate Stop <span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Angles to start and stop scanner head rotation to define the horizontal FOV. 0° is pointing to the primary (i.e. X-) axis of the scene coordinate system. If using a projected coordinate system like UTM, the primary axis is pointing north. Angles are assumed mathematically positive, i.e. going counter-clockwise, which is contrary to an azimuth value."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-${scanner_count}-@headRotateStop_deg" placeholder="Angles to stop scanner head rotation to define the horizontal FOV [deg]">
                              </div>
                       </div>

                       <div class="field">
                          <label class="label">Head Rotate Per Segment<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Speed of scanner head rotation in degrees per second. Can be positive for counterclockwise rotation or negative for clockwise rotation. Make sure that headRotateStart_deg is larger than headRotateStop_deg if setting a negative value."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-${scanner_count}-@headRotatePerSeg_deg" placeholder="Speed of scanner head rotation in degrees per second [deg]">
                              </div>
                       </div>

                        <div class="field">
                          <label class="label">Default Trajectory Time Interval<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip="Time interval in seconds for the trajectory output file. If this is set to 0, no trajectory is written. For a measurement frequency of 100 Hz, enter 0.01 (default: 0.0)"> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-${scanner_count}-@trajectoryTimeInterval_s" placeholder="Time interval in seconds for the trajectory output file (default: 0.0)">
                              </div>
                       </div>

                       <div class="field">
                          <label class="label">Minimum Vertical Angle<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip=" Independent minimum vertical scan angle. Can be positive or negative. scanAngle_deg=30 would correspond to verticalAngleMin_deg=-30 and verticalAngleMax_deg = 30. We suggest to use the +- scan angle range for ALS surveys, and setting the minimum and maximum vertical angles for TLS surveys."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-${scanner_count}-@verticalAngleMin_deg" placeholder="Independent minimum vertical scan angle [deg]">
                              </div>
                       </div>

                       <div class="field">
                          <label class="label">Maximum Vertical Angle<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip=" Independent maximum vertical scan angle. Can be positive or negative. scanAngle_deg=30 would correspond to verticalAngleMin_deg=-30 and verticalAngleMax_deg = 30. We suggest to use the +- scan angle range for ALS surveys, and setting the minimum and maximum vertical angles for TLS surveys."> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                              <div class="control">
                                <input class="input" type="text" name="scanner-${scanner_count}-@verticalAngleMax_deg" placeholder="Independent maximum vertical scan angle [deg]">
                              </div>
                       </div>

                       <div class="field">
                          <label class="label">Scanner is Active<span class="has-tooltip-arrow has-tooltip-multiline" data-tooltip='Boolean, "true" or "false". This parameter is relevant e.g. for offline (i.e. scanner is turned off) flight lines in airborne surveys. (default: "true").'> <i class="fas fa-info-circle has-text-info"></i> </span></label>
                           <div class="control">
                              <label class="radio">
                                <input type="radio" name="scanner-${scanner_count}-@active" value="true" >
                                True
                              </label>
                              <label class="radio">
                                <input type="radio" name="scanner-${scanner_count}-@active" value="false">
                                False
                              </label>
                           </div>
                       </div>


               	</div>
			</div>
    `
    let container = document.getElementById('form-content')
    let div = document.createElement('div')
    div.classList.add(...['card', 'is-fullwidth'])
    div.innerHTML = scanner_template
    div.getElementsByClassName('card-toggle')[0].addEventListener('click', e => {
        e.currentTarget.parentElement.parentElement.childNodes[3].classList.toggle('is-hidden')
    })
    div.getElementsByClassName('delete-card')[0].addEventListener('click', e => {
        e.currentTarget.parentElement.parentElement.remove()
    })
    container.appendChild(div)
    scanner_count++
  }
})
</script>
{% endblock %}