{% extends 'base.html' %}
{% block title %} Helios UI {% endblock %}
{% block style %}
    .hero-body {
        align-items: flex-start !important;
    }
{% endblock %}
{% block hero %}
<div class="hero-body">
    <form method="POST" action="" enctype="multipart/form-data">
        <div id="file-js-example" class="file has-name mt-3 mb-3 is-link">
              <label class="file-label">
                <input class="file-input" type="file" name="file" accept=".zip">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a scene file…
                  </span>
                </span>
                <span class="file-name">
                  No file uploaded
                </span>
              </label>
        </div>
        <div class="control">
                <input type="submit" class="button is-link" value="Upload Scene File">
        </div>
    </form>


</div>

{% endblock %}